# **Prueba Analistas**

In [1]:
# importar los datos

import pandas as pd
import numpy as np


datos = pd.read_csv('analista_de_operaciones.csv', encoding='latin1', header=0)

print(datos.shape)
print(datos.head())

(105388, 14)
  regional  ciudad codtrabajo       fecha    cuenta      orden  cantidad  \
0   CENTRO  BOGOTA     VENTEC  01/07/2023  15589183  380534979         2
1   CENTRO  BOGOTA    NROUTER  01/07/2023  15434166  380582904         2
2   CENTRO  BOGOTA    NROUTER  01/07/2023  15581974  380597816         2
3   CENTRO  BOGOTA    NROUTER  01/07/2023  15634211  380592700         2
4   CENTRO  BOGOTA    NROUTER  01/07/2023  15589183  380534979         2

                     nombre_tecnico      cedula    tipo_trabajo  \
0         JEISON ADAN MOSQUERA RUIZ  1087782391  VENTAS TECNICO
1  ALEJANDRO MARIO HERNANDEZ PERTUZ  1143432760  VENTAS TECNICO
2         JORGE ENRIQUE RENZA ALVIZ  1130588089  VENTAS TECNICO
3      EYSON FERNANDO IJAJI SAMBONI  1107077888  VENTAS TECNICO
4         JEISON ADAN MOSQUERA RUIZ  1087782391  VENTAS TECNICO

   precio_trabajo  tipo_movil esquema_trabajo  coordinador
0         20028.0  MOTO DOBLE             HFC          NaN
1         33090.0  MOTO DOBLE             HFC          NaN
2         33090.0  MOTO DOBLE             HFC          NaN
3         33090.0  MOTO DOBLE             HFC          NaN
4         33090.0  MOTO DOBLE             HFC          NaN

In [2]:
# tipo de datos

type(datos)

pandas.core.frame.DataFrame

In [3]:
# cantidad de datos 

datos.shape

(105388, 14)

In [4]:
# las columnas

datos.columns

Index(['regional', 'ciudad', 'codtrabajo', 'fecha', 'cuenta', 'orden',
       'cantidad', 'nombre_tecnico', 'cedula', 'tipo_trabajo',
       'precio_trabajo', 'tipo_movil', 'esquema_trabajo', 'coordinador'],
      dtype='object')

In [5]:
# Limpiar los nombres de las columnas de posibles espacios en blanco
datos.columns = datos.columns.str.strip()

# Imprimir los nombres de las columnas nuevamente para verificar
print(datos.columns)

Index(['regional', 'ciudad', 'codtrabajo', 'fecha', 'cuenta', 'orden',
       'cantidad', 'nombre_tecnico', 'cedula', 'tipo_trabajo',
       'precio_trabajo', 'tipo_movil', 'esquema_trabajo', 'coordinador'],
      dtype='object')

## **Promedio Servicio**

In [9]:
# promedio de trabajo

promedio_precio = round(datos['precio_trabajo'].mean(), 2)
print(promedio_precio)

52897.61

# **Dataframe Tecnico**

In [10]:
# Agrupar por el nombre del técnico
df_tecnico = datos.groupby('nombre_tecnico').agg(
    Numero_Servicios=('precio_trabajo', 'count'),
    Valor_Total=('precio_trabajo', 'sum')
).reset_index()

# Agregar la columna de clasificación según el Valor Total
def clasificar(valor_total):
    if valor_total <= 5000000:
        return "MUY MALO"
    elif valor_total <= 10000000:
        return "MALO"
    elif valor_total <= 15000000:
        return "REGULAR"
    elif valor_total <= 20000000:
        return "BUENO"
    else:
        return "EXCELENTE"

df_tecnico['Clasificación'] = df_tecnico['Valor_Total'].apply(clasificar)

# Ver el resultado
print(df_tecnico)

                        nombre_tecnico  Numero_Servicios  Valor_Total  \
0                     ABISAI GIL GOMEZ               161    8179974.0
1          ACERO LEON EDUARD ALEXANDER               116    4196428.0
2           ACOSTA BOSSA JORGE ELIECER               143    6857306.0
3      ADRIAN ALONSO RINCON AVELLANEDA               191   11548276.0
4    AGUDELO RODRIGUEZ FABIAN ESNEIDER                16     667627.0
..                                 ...               ...          ...
698  YILBER NICOLAS BUITRAGO HERNANDEZ                61    2831577.0
699        YONATHA STID MOGOLLON ANAYA                13     445286.0
700  YONATHAN ARLEY CASTILLO GUTIERREZ                92    9167403.0
701         YORFAN SMITH GUIZA VELASCO               116    8527798.0
702      YORMAN ENRIQUE GONZALEZ PABON               170    6093439.0

    Clasificación
0            MALO
1        MUY MALO
2            MALO
3         REGULAR
4        MUY MALO
..            ...
698      MUY MALO
699      MUY MALO
700          MALO
701          MALO
702          MALO

[703 rows x 4 columns]

In [11]:
print(df_tecnico.columns)

Index(['nombre_tecnico', 'Numero_Servicios', 'Valor_Total', 'Clasificación'], dtype='object')

## **Exportar la tabla**

In [12]:
# Exportar la tabla

df_tecnico.to_csv('df_tecnico.csv', index=False)